@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {

  --white-color:white;
  --black-color:black;
  --admin-bg: #1e1e2f;
  --admin-bg-hover: #29294d;
  --admin-bg-active: #41416d;
  --admin-text: #f1f1f1;
  --admin-text-contrast: #ffffff;
  --admin-light: rgba(0, 0, 0, 0.1);
}
